:root {
    --buttonSize: 27.96px; /*4.66%*/
}

body {
    display: grid;
    place-items: center;
    max-width: 100vw;
}

h3, h4 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: gainsboro;
    width: 600px;
    height: 600px;
}

main input {
    height: var(--buttonSize); width: var(--buttonSize);
}

#apple {
    accent-color: red;
}

#stats {
    position: absolute;
    left: 150px;
    top: 200px;
}

#stats > input {
    width: 200px;
}